body {
    background-color: #1D4221;
    color: white;
    font-family: "Black Ops One", system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #0011ff;
    color: white;
     font-family: "Black Ops One", system-ui;
}
button{
    background-color:;
    color: white;
    font-family: 
}